---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Creative single page site">
  <!-- THE HEADER -->
  <Header />
  <main class="">
    <!-- Branding & website design agency -->
    <section
      class="flex flex-col gap-16 md:max-2xl:flex-row-reverse md:max-2xl:gap-0"
    >
      <picture>
        <source
          media="(min-width:1440px )"
          srcset="/assets/desktop/image-hero.jpg"
        />
        <source
          media="(min-width:768px )"
          srcset="/assets/tablet/image-hero.jpg"
        />
        <img
          src="/assets/mobile/image-hero.jpg"
          alt=""
          class="md:max-2xl:relative"
        />
      </picture>
      <div
        class="mx-6 flex flex-col gap-10 text-[#000] md:ml-[2.44rem] md:mt-[4.81rem] md:gap-8 md:max-2xl:absolute md:max-2xl:left-0 xl:ml-[10.31rem] xl:mt-[11.5rem] xl:gap-12"
      >
        <div
          class="flex flex-col gap-[0.94rem] md:gap-[1.19rem] xl:gap-[2.44rem]"
        >
          <h1
            class="text-[2.5rem] font-extrabold leading-10 md:w-[24.875rem] md:text-[3.5rem] md:leading-[3.5rem] xl:w-[44.625rem] xl:text-[5rem] xl:leading-[5.5rem]"
          >
            Branding & website design agency
          </h1>
          <p
            class="text-[0.9375rem] font-normal leading-[1.5625rem] md:w-[24.875rem] xl:w-[33.75rem] xl:text-lg xl:leading-8"
          >
            We specialize in visual storytelling by creating cohesive brand and
            website design solutions for small businesses, giving lasting
            impressions to audiences in a digital world.
          </p>
        </div>
        <div class="">
          <button
            type="button"
            class="h-[4.5rem] w-[11.0625rem] bg-[#F94F4F] text-lg font-extrabold
          leading-normal text-[#fff] transition-all duration-500 ease-linear hover:bg-[#FF9393]"
          >
            learn More
          </button>
        </div>
      </div>
    </section>
    <!-- Design is strategic. -->
    <section class="mt-24 flex flex-col md:max-2xl:mt-0 md:max-2xl:flex-row">
      <picture>
        <source
          media="(min-width:1440px )"
          srcset="/assets/desktop/image-strategic.jpg"
        />
        <source
          media="(min-width:768px )"
          srcset="/assets/tablet/image-strategic.jpg"
        />
        <img src="/assets/mobile/image-strategic.jpg" alt="" class="" />
      </picture>
      <div
        class="relative flex flex-col gap-10 bg-[#191921] px-6 py-[4.5rem] md:h-[33.625rem] md:w-[24.375rem] md:gap-8 md:pb-[7.62rem] md:pl-[4.31rem] md:pr-10 md:pt-[5.5rem] xl:h-[49rem] xl:w-[44.0625rem] xl:gap-12 xl:pl-[9.62rem] xl:pt-[12.5rem]"
      >
        <div class="">
          <img
            src="/assets/desktop/bg-pattern-wave-red.svg"
            alt=""
            class="absolute -top-4 left-6 w-[3.9375rem] md:-left-10 md:top-[9rem] md:w-[5.438rem] xl:left-[-3.5rem] xl:top-[18rem] xl:w-[8.4375rem]"
          />
        </div>
        <div class="flex flex-col gap-6 md:gap-8 xl:gap-[2.69rem]">
          <h2
            class="text-[2rem] font-extrabold leading-10 text-[#fff] md:w-[16.5625rem] xl:w-[25.625rem] xl:text-[3.5rem] xl:leading-[4rem]"
          >
            <span class="text-[#F94F4F]">Design</span> is strategic.
          </h2>
          <p
            class="w-[20.4375rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-[#fff] md:w-[17.5625rem] xl:w-[27.8125rem] xl:text-lg xl:leading-8"
          >
            “A well-crafted design strategy consistently produces desired
            outcomes and brand awareness. We are firm believers that success
            lies in creative collaboration with our clients.”
          </p>
        </div>
        <div class="">
          <a
            href="/"
            class="relative cursor-pointer text-[0.9375rem] font-extrabold leading-normal text-[#F94F4F] transition-all duration-500 ease-linear after:absolute after:-bottom-[0.56rem] after:left-0 after:h-[0.125rem] after:w-[6.4375rem] after:bg-[#F94F4F] hover:text-[#FF9393] after:hover:bg-[#FF9393] xl:text-lg"
          >
            Schedule a Call</a
          >
        </div>
      </div>
    </section>
    <!-- Our approach  -->
    <section class="absolute flex flex-col md:max-2xl:flex-row">
      <div
        class="z-50 bg-[#F94F4F] px-6 pt-24 md:pl-[2.44rem] md:pt-32 md:max-2xl:bg-transparent xl:absolute xl:left-0 xl:pl-[10.31rem] xl:pt-48"
      >
        <h2
          class="w-[20.4375rem] text-[2rem] font-extrabold leading-10 text-[#fff] md:w-[17.5625rem] md:text-[2rem] md:leading-10 md:max-2xl:text-[#000] xl:w-[33.75rem] xl:text-[3.5rem] xl:leading-[4rem]"
        >
          Our approach for creating a winning brand
        </h2>
      </div>
      <div
        class="relative flex h-[41.375rem] w-[23.4375rem] flex-col gap-10 bg-[#F94F4F] px-6 pb-24 pt-[3.06rem] md:-top-[8rem] md:h-[45.8125rem] md:w-[27.375rem] md:pb-[7.31rem] md:pl-[2.69rem] md:pr-10 md:pt-[7.5rem] xl:-right-[34rem] xl:-top-[12.5rem] xl:h-[58rem] xl:w-[55.9375rem] xl:pl-[17.81rem] xl:max-2xl:py-[12.5rem]"
      >
        <!-- 01 -->
        <div
          class="relative mb-10 flex flex-col gap-[0.94rem] xl:mb-14 xl:gap-6"
        >
          <h2
            class="text-[5rem] font-extrabold leading-[5.5rem] text-[#fff] opacity-25"
          >
            01
          </h2>
          <div
            class="absolute left-4 top-[2.875rem] flex flex-col gap-[0.94rem] xl:left-10 xl:gap-6"
          >
            <h3
              class="text-[0.9375rem] font-extrabold leading-[1.5625rem] text-[#fff] xl:text-xl xl:leading-8"
            >
              Brand Strategy
            </h3>
            <p
              class="text-normal md:w-[21.1875rem w-[19.4375rem] text-[0.9375rem] text-lg leading-[1.5625rem] text-[#fff] xl:w-[27.8125rem] xl:leading-8"
            >
              Brand strategy is critical for long-term success. Outshining
              competitors and capturing the target audience are key.
            </p>
          </div>
        </div>
        <!-- 02 -->
        <div
          class="relative mb-10 flex flex-col gap-[0.94rem] xl:mb-14 xl:gap-6"
        >
          <h2
            class="text-[5rem] font-extrabold leading-[5.5rem] text-[#fff] opacity-25"
          >
            02
          </h2>
          <div
            class="absolute left-4 top-[2.875rem] flex flex-col gap-[0.94rem] xl:left-10 xl:gap-6"
          >
            <h3
              class="text-[0.9375rem] font-extrabold leading-[1.5625rem] text-[#fff] xl:text-xl xl:leading-8"
            >
              Brand Design
            </h3>
            <p
              class="text-normal md:w-[21.1875rem w-[19.4375rem] text-[0.9375rem] text-lg leading-[1.5625rem] text-[#fff] xl:w-[27.8125rem] xl:leading-8"
            >
              Keeping the brand design unique and meaningful helps in
              communicating the brand’s timeless value effectively.
            </p>
          </div>
        </div>
        <!-- 03 -->
        <div class="relative flex flex-col gap-[0.94rem] xl:gap-6">
          <h2
            class="text-[5rem] font-extrabold leading-[5.5rem] text-[#fff] opacity-25"
          >
            03
          </h2>
          <div
            class="absolute left-4 top-[2.875rem] flex flex-col gap-[0.94rem] xl:left-10 xl:gap-6"
          >
            <h3
              class="text-[0.9375rem] font-extrabold leading-[1.5625rem] text-[#fff] xl:text-xl xl:leading-8"
            >
              Web Design
            </h3>
            <p
              class="text-normal md:w-[21.1875rem w-[19.4375rem] text-[0.9375rem] text-lg leading-[1.5625rem] text-[#fff] xl:w-[27.8125rem] xl:leading-8"
            >
              A beautifully crafted website is the best tool for brand
              awareness, and ultimately results in increased revenues.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Brand Naming -->
    <section class="relative flex xl:top-48">
      <div class="h-[22rem] w-[24.375rem] bg-[#191921]"></div>
      <picture>
        <source
          media="(min-width:1440px )"
          srcset="/assets/desktop/image-slide-1.jpg"
        />
        <source
          media="(min-width:768px )"
          srcset="/assets/tablet/image-slide-1.jpg"
        />
        <img src="/assets/mobile/image-slide-1.jpg" alt="" class="" />
      </picture>
    </section>
  </main>
</Layout>

<style></style>
