---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Creative single page site">
  <!-- THE HEADER -->
  <Header />
  <main class=""></main>
</Layout>

<style></style>
