---
import "@/styles/globals.css";
---

<header class="mx-6 mt-10 mb-[1.31rem]">
    <!-- LOGO & MENU ICON -->
    <div class="flex items-center justify-between gap-[8.88rem]">
        <!-- LOGO -->
        <img src="/public/assets/desktop/logo.svg" alt="logo" class="">
        <!-- OPEN MENU -->
        <img src="/public/assets/mobile/icon-hamburger.svg" alt="open menu" class="md:max-2xl:hidden" id="menuOpen">
        <!-- CLOSE MENU -->
        <img src="/public/assets/mobile/icon-cross.svg" alt="close menu" class="hidden" id="menuClose">
    </div>
</header>